body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #1e1e1e; /* Dark background */
    color: #f0f0f0; /* Lighter text color for better contrast */
    transition: background-color 0.3s ease;
}

header {
    background-color: #282828;
    padding: 2rem;
    text-align: center;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #eee;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #bada55;
}

main {
    max-width: 960px;
    margin: 2rem auto;
}

section {
    margin-bottom: 3rem;
}

h1, h2 {
    font-weight: 700;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.portfolio-grid, .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
    .portfolio-grid, .blog-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust column width */
    }
}

@media (max-width: 768px) {
    .portfolio-grid, .blog-grid {
        grid-template-columns: 1fr;
    }
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.8rem; /* Adjust font size for smaller screens */
    }
    .portfolio-item, .blog-post {
        padding: 1rem; /* Reduce padding for smaller screens */
    }
}

.portfolio-item, .blog-post {
    background-color: #282828; /* Slightly darker background for better contrast */
    border: 1px solid #444;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 2rem; /* Added margin for better spacing between items */
}

.portfolio-item:hover, .blog-post:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-item img, .blog-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
}

footer {
    background-color: #282828;
    padding: 1rem;
    text-align: center;
}
